body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  height: 100dvh;
  align-items: center;
  color: white;
}

body::before{
  content: ""; 
  position: fixed;
  z-index: -1;
  top: -250dvh;  
  width: 500dvw;
  height: 500dvh;  
  background-image: url(assets/caf_gum.png);
  background-color: pink;
  transform: rotate(45deg);
  filter: brightness(2);
}  

nav {
  display: flex;
  align-items: center;
  background-color: rgb(197, 91, 197);
  color: antiquewhite;
  width: 100dvw;
  height: 40px;
}

.content-container, article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 70dvw;
  padding-inline: 2dvw;
  background-color: violet;
  align-items: center;
}

.content-container *, .content-container {
  max-width: 1000px;
}

.content-container img {
  width: 70vw;
}

.timestamp {
  align-self: flex-end;
  margin-bottom: 10px;
}

#faiq-quiet-image {
  height: 500px;
  width: auto;
}

#faiq-quiet-image:hover {
  filter: brightness(5);
}

h1 {
  position: relative;
  text-align: center;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  animation-name: moving-header;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: #222222;
}

article p {
  text-align: justify;
}

@keyframes moving-header {
  0% {            
    font-variation-settings:
      "MORF" 0;
    color: rgb(249, 255, 133);
    left: 10px;
  }
  50% {
    font-variation-settings:
      "MORF" 60;
    color:rgb(181, 224, 255);
    left: -10px;
  }
  100% {
    font-variation-settings:
      "MORF" 0;
    color: rgb(175, 255, 175);
    left: 10px;
  }
}
